@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Customization */
.meet_with_dc, .destination {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.meet_with_dc .meet_with_box_wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box {
  display: flex;
  align-items: center;
  border-radius: 0.3125rem;
  border: 1px solid #f3f3f7;
  background-color: #f9f9fb;
  padding: 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box:first-child {
  color: #12b76a;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box:last-child {
  color: #2e90fa;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box img {
  width: 1rem;
  flex-shrink: 0;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box .title {
  margin-left: 0.5rem;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box input[type='radio'], .meet_with_dc .meet_with_box_wrapper .meet_with_box input[type='checkbox'] {
  flex-shrink: 0;
  margin-left: auto;
  appearance: none;
  background-color: transparent;
  border: 1px solid #70739b;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box input[type='radio']:checked, .meet_with_dc .meet_with_box_wrapper .meet_with_box input[type='checkbox']:checked {
  background-color: #292e6a;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box input[type='radio']:checked::before, .meet_with_dc .meet_with_box_wrapper .meet_with_box input[type='checkbox']:checked::before {
  opacity: 1;
}

.meet_with_dc .meet_with_box_wrapper .meet_with_box input[type='radio']::before, .meet_with_dc .meet_with_box_wrapper .meet_with_box input[type='checkbox']::before {
  content: '';
  width: 0.785rem;
  height: 0.785rem;
  display: inline-block;
  background: url('/images/icons/correct.svg');
  opacity: 0;
}

@media only screen and (min-width: 640px) {
  .meet_with_dc .meet_with_box_wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.destination select {
  appearance: none;
  outline: 0;
  padding: 0.875rem;
  border: 1px solid #f3f3f7;
  border-radius: 0.3125rem;
  color: #666885;
  background: url('/images/icons/arrow_down.svg') no-repeat right 0.8rem center / 1rem,
  linear-gradient(to left, #f9f9fb 3rem, transparent 3rem);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.destination select::placeholder {
  color: #666885;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
}

.destination select:focus {
  outline: none;
}

.destination select::-ms-expand {
  display: none;
}

.destination select option {
  color: inherit;
  background-color: #fff;
}

/* Manual Customization */
.meet_with_mc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.meet_with_mc .meet_with_box_wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box {
  display: flex;
  align-items: center;
  border-radius: 0.3125rem;
  border: 1px solid #f3f3f7;
  background-color: #f9f9fb;
  padding: 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box:first-child {
  color: #12b76a;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box:last-child {
  color: #2e90fa;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box img {
  width: 1rem;
  flex-shrink: 0;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box .title {
  margin-left: 0.5rem;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box .checkbox_icon_wrapper {
  margin-left: auto;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box .checkbox_icon_wrapper input[type='checkbox'] {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box .checkbox_icon_wrapper input[type='checkbox']:checked + .checkbox_icon svg {
  opacity: 1;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box .checkbox_icon_wrapper .checkbox_icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #70739b;
  border-radius: 0.25rem;
}

.meet_with_mc .meet_with_box_wrapper .meet_with_box .checkbox_icon_wrapper .checkbox_icon svg {
  color: #292e6a;
  opacity: 0;
  transition: opacity 500ms;
}

@media only screen and (min-width: 640px) {
  .meet_with_mc .meet_with_box_wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.custom_select {
  position: relative;
  width: 100%;
  height: 3rem;
  background-color: #f9f9fb;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.custom_select .select_close {
  display: none;
}

.custom_select .select_label {
  position: relative;
  display: block;
  height: 0;
  padding-left: 0.875rem;
  font-size: 0.875rem;
  line-height: 3rem;
  color: #666885;
  background-color: #f9f9fb;
  cursor: pointer;
  overflow: hidden;
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}

.custom_select .select_label_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  opacity: 0.6;
  background-color: transparent;
}

.custom_select .select_items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3rem;
  border: 1px solid #f3f3f7;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.custom_select .select_items .select_expand {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
}

.custom_select .select_items .select_expand::after {
  content: "\003E";
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  font-size: 1rem;
  color: #3e3e3e;
  opacity: 0.6;
  z-index: 1;
  pointer-events: none;
  transform: rotate(90deg) scaleY(1.75);
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}

.custom_select .select_items .select_expand:hover::after {
  opacity: 1;
}

.custom_select .select_items .select_expand:checked::after {
  transform: rotate(90deg) scaleX(-1) scaleY(1.75);
}

.custom_select .select_items .select_expand_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: block;
  cursor: pointer;
}

.custom_select .select_items .select_close_label {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.custom_select .select_items .select_options .select_option .select_input {
  display: none;
}

.custom_select .select_items .select_expand:checked + .select_close_label + .select_options + .select_expand_label {
  display: none;
}

.custom_select .select_items .select_expand:checked + .select_close_label {
  display: block;
}

.custom_select .select_items .select_expand:checked + .select_close_label + .select_options .select_label {
  height: 3rem;
}

.custom_select .select_items .select_expand:checked + .select_close_label + .select_options .select_label:hover {
  background-color: #f7f7f7;
}

.custom_select .select_items .select_options .select_option .select_input:checked + .select_label {
  height: 3rem;
  margin-top: -3rem;
}
